@import '_colors.sass'

input
  color: $text-main
  font-size: 18px

  &:focus
    outline: none
    box-shadow: 0 0 #000000

  &::placeholder
    color: $text-hover

/* Background General Styles */
.bg-gray-labels
  background-color: $bg-gray-labels

.bg-yellow-ml
  background-color: $bg-yellow-ml

.bg-white
  background-color: $bg-white


/* Fonts general styles */
.tc-hover
  color: $text-hover
.tc-main
  color: $text-main

.ts-12
  font-size: .75rem
.ts-14
  font-size: .875rem
.ts-18
  font-size: 1.125rem
.ts-24
  font-size: 1.5rem

/* Image styles */
.img-result
  width: 11.25rem
  height: 11.25rem
  border-radius: 4px

/* Normalize Class Styles*/
.row
  &--width
    width: 103%