@import '_colors.sass'

input
  color: $text-main
  font-size: 18px

  &:focus
    outline: none
    box-shadow: 0 0 #000000

  &::placeholder
    color: $text-hover

/* Background General Styles */
.bg-gray-labels
  background-color: $bg-gray-labels

.bg-yellow-ml
  background-color: $bg-yellow-ml


/* Normalize Class Styles*/
.row
  &--width
    width: 103%