<div class="container-fluid navbar bg-yellow-ml">
    <div class="container">
        <div class="row row--width align-items-center">
            <div class="col-12 col-xl-1 offset-xl-1 col-md-1 offset-md-0 text-center text-md-left mb-3 mb-md-0" routerLink="/">
                <a href="#">
                    <img src="/assets/search/Logo_ML.png" alt="ml logo">
                </a>
            </div>
            <div class="col-xl-9 col-md-11 col-12">
                <app-search></app-search>
            </div>
        </div>
    </div>
</div>
