<div class="breadcrumbs">
  <app-breadcrumbs></app-breadcrumbs>
</div>

<div class="item-details container-box tc-main p-6">
  <div class="item-details__container d-lg-flex flex-lg-row justify-content-lg-start">
    <div class="item-details__img mr-6">
      <img src="/assets//borrar1.png" alt="seleted item details">
    </div>
    <div class="item-details__info d-lg-flex flex-lg-column">
      <div class="item-details__info--sold mb-16 tw-400 ts-14 mb-3">Nuevo - 210 vendidos</div>
      <div class="item-details__info--name mb-16 tw-600 ts-24 mb-6">Deco Reverse Sombrero Oxford</div>
      <div class="item-details__info--pice mb-16 tw-600 ts-46 mb-6">$1.980</div>
      <div class="item-details__info--buy mb-16 tw-600">
        <button type="button" class="btn btn-primary btn-block bg-blue">Comprar</button>
      </div>
    </div>
  </div>
  <div class="item-details__description">
    <div class="item-details__description--title tw-300 ts-28 mb-6">Descripción del producto</div>
    <div class="item-details__description--title tw-300 tc-hover">Non nulla esse dolore velit pariatur sunt qui voluptate eiumdod deserunt aliqua. Magna deserunt commodo deserunt exercitation nisi in tempor culpa ea excepteur. Fugiat nisi quis ad est nisi magna ad nulla. Amet amet eu anim mollit commodo sint cillum veniam Non nulla esse dolore velit pariatur sunt qui voluptate eiumdod deserunt aliqua. Magna deserunt commodo deserunt exercitation nisi in tempor culpa ea excepteur. Fugiat nisi quis ad est nisi magna ad nulla. Amet amet eu anim mollit commodo sint cillum veniam.</div>
  </div>
</div>